# Step 1: Explore and Collect the Dataset (Week 1)

Download and understand the job market dataset and prepare it for further processing.

Tasks:
Download Dataset:

Download the dataset from Kaggle.
Explore the CSV file to understand its structure: job title, company, location, job description, post date, etc.
Understand the Data:

Examine key features such as:
Job Title: What roles are being posted?
Company: Which companies are posting the most jobs?
Location: Where are most jobs located?
Job Function: What are the most common job functions (e.g., IT, HR, Marketing)?
Employment Type: Full-time, part-time, contract, etc.
Skills Learned:
Exploratory Data Analysis (EDA): Learn how to understand datasets before performing operations.
Technologies:
Pandas (for data exploration in Python).

In [5]:
import pandas as pd 

chunk_size = 10000

chunks = [ ]

for index, chunk in enumerate(pd.read_csv('data/postings.csv', chunksize=chunk_size)): 
    # print(f"reading chunk {index}")
    # print(f"shape is  {chunk.shape}")
    chunks.append(chunk)
    
    
df = pd.concat(chunks, ignore_index=True)
    
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB